RewriteEngine On

# Si le fichier demandé n'existe pas physiquement (ex: une image CSS), alors...

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ... rediriger tout vers index.php

RewriteRule ^ index.php [QSA,L]
